@font-face {
    font-family: 'IBM Plex Mono';
    src: url('assets/IBM-Plex-Mono/IBMPlexMono-Regular.woff2') format('woff2');
}
body {
    font-family: 'IBM Plex Mono';
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#editor {
    font-family: 'IBM Plex Mono';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 14px;
    left: 0;
    font-size: 14px;
}

.info {
    font-family: 'IBM Plex Mono';
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    background: #eeeeee;
    padding: 5px 10px;
    height: 10px;
    left: 0;
    right: 0;
}

.info #mode {
    float: right;
}

