body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 14px;
  left: 0;
  font-size: 14px;
}

.info {
  font-family: monospace;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  background: #eeeeee;
  padding: 5px 10px;
  height: 10px;
  left: 0;
  right: 0;
}

.info #mode {
  float: right;
}